    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto:wght@100;300&display=swap');

    body{
      margin: 0;
      padding: 0;
      font-family: 'Quicksand','sans-serif';
    }
    .component{
      background-color: rgb(20, 18, 18);
      min-height: 100vh;
    }
    .todoForm{
      height: 350px;
      background-image: url('../src/Images/bg-desktop-dark.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .container, .control{
      width: 70%;
      margin: 0 auto;
      padding-top: 2rem;
    }
    .flex-items{
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 3rem 0 0 0;
    }
     .flex-items h1{
      margin: 0;
      color: whitesmoke;
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 1rem;
      font-size: 2rem;
    }
    .logo-left{
      width: 30px;
      height: 30px;
      background-image: url('../src/Images/icon-sun.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .control input{
      width: 90%;
      display: block;
      margin: 2rem auto;
      padding: 1.8rem;
      border-radius: 3px;
      font-size: 1.2rem;
      color: whitesmoke;
      background-color:  rgb(49, 41, 41);
      outline: none;
      border: none;
    }
  ::placeholder{
    color: gray;
    font-size: 1rem;
  }
  .ouputContainer{
    width: 95%;
    margin: -3rem auto;
  }
   
  .outputDiv{
    width: 49%;
    margin: 4px auto;
    padding: 1.2rem;
    background-color: rgb(49, 41, 41);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
  }
  .outputDiv input{
    height: 20px;
    width: 20px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .outputDiv label{
    margin-right: 4rem;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
    color: whitesmoke;
    text-transform: capitalize;
    cursor: pointer;
  }
  .outputDiv a{
    text-decoration: none;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bold;
    color: gray;
  }
   .bottom{
    width: 46%;
    margin: 3.4rem auto;
    padding: 1.5rem;
    background-color: rgb(49, 41, 41);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
   }
   .bottom li{
    list-style-type: none;
    color: white;
   }
   .bottom li:nth-child(even){
    text-transform: capitalize;
   }
.todo-delete{
  width: 60%;
  height: 400px;
  margin: 5rem auto;
  background-color: whitesmoke;
  text-align: center;
  padding: 4rem;
  box-shadow: 8px 8px 8px 2px white;
  text-transform: capitalize;
  border-radius: 1rem;
}
.todo-delete h1{
  color: #333;
  margin-top: 4rem;
}
.todo-delete button{
  padding: 1rem 2rem;
  font-weight: bolder;
  background-color: red;
  border-radius: 0.6rem;
  outline: none;
  color: white;
  font-size: 1rem;
  margin-top: 3em;
  border: none;
  letter-spacing: 3px;
  cursor: pointer;
}
.todo-delete div h3{
  color: #333;
  margin-top: 4rem;
}

img{
  display: none;
}
 /*//////////////////////////////////////*/
 /*//////////////////////////////////////*/
 /*//////////////////////////////////////*/
 /*//////////////////////////////////////*/
 /*//////////////////////////////////////*/
 /*//////////////////////////////////////*/
 /*//////////////////////////////////////*/
 /*//////////////////////////////////////*/
 /*//////////////////////////////////////*/

  @media (max-width: 850px ){
    body{
      margin: 0;
      padding: 0;
      background-color: #e3e3e3de;
      font-family: 'Quicksand','sans-serif';
    }
    .App{
      max-width: 100% ;
    }
    .component{
      background-color: #e3e3e3de;
    }
    .todoForm{
      height: 350px;
      background-image: url('../src/Images/bg-mobile-light.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .logo-left{
      display: none;
    }
    .container, .control{
      width: 95%;
      margin: 0 auto;
    }
    .flex-items{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 3rem 10rem 2rem 0;
    }
     .flex-items h1{
      margin: 0;
      color: whitesmoke;
      font-weight: bolder;
      text-transform: uppercase;
      letter-spacing: 1rem;
      font-size: 3rem;
    }
    .control input{
      width: 75%;
      display: block;
      margin: 2.7rem auto;
      background-color: whitesmoke;
      padding: 1.5rem;
      border-radius: 6px;
      font-size: 1.5rem;
      font-weight: bolder;
      outline: none;
      border: none;
      color: gray;
    }
  ::placeholder{
    font-weight: bolder;
    color: gray;
    font-size: 20px;
  }
  img{
    width: 40px;
    height: 40px;
    display: block;
  }
  .ouputContainer{
    width: 95%;
    margin: -3rem auto;
  }
  .outputDiv{
    width: 70%;
    margin: 4px auto;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  .outputDiv input{
    height: 32px;
    width: 32px;
    border-radius: 90px;
  }
  .outputDiv label{
    margin-right: 4rem;
    align-items: center;
    font-size: 1.2rem;
    color: gray;
    text-transform: capitalize;
  }
   .bottom{
    width: 67%;
    margin: 3.4rem auto;
    padding: 2rem;
    background-color:  white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
   }
   .bottom li{
    list-style-type: none;
    color: grey;
    font-size: 1.6rem;
   }
   .bottom li:nth-child(even){
    text-transform: capitalize;
   } 
  }